.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  padding: 35px;
}

@media (max-width: 767.98px) {
  .form {
    padding: 25px 22px;
  }
}
