.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width:100%;
  min-height:100%;
  position: fixed;
  top: 0;
  transform: translateY(-44.5%) scale(0);
}
